body ul {
    position: relative;
    margin: 0;
    padding: 0;
}

body ul li {
    float: left;
    padding: 8px;
    margin-left: 8px;
    margin-top: 4px;
    list-style-type: none;
    background: rgba(72, 237, 212, 0.67);
    border-radius: 10px;
    font-size: .75em;
}
