/*color table==>on existed color "Ctrl+e" */

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
    background-repeat: no-repeat;
}

body>li>a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    text-decoration: none;
}

li>a[href$=".pdf"] {
    background-image: url(../images/pdf.png);
}

li>a[href$=".docx"] {
    background-image: url(../images/docx.png);
}

body>li {
    list-style-type: none;
}
