/*
body
*/

body {
    background-color: lightblue;
    background-size: cover;
    /*隨著browser大小自動調整*/
}


/*
header
*/

header {
    color: blue;
    font-style: oblique;
    background-image: url(https://source.unsplash.com/400x200?nature);
    /*    background-size: 100%; 圖片在縮小時會留白*/
    /*    background-size: cover; 圖片在縮小時會只會看到局部*/
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    line-height: 3em;
}


/*
sub-title
*/

.sub-title {
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    /* Standard syntax (must be last) */
    color: aqua;
}

h3 {
    color: black;
}
