/*
body
*/

body {
    background-color: lightblue;
    background-size: cover;
}


/*
header
*/

header {
    height: 50px;
    color: rgba(229, 229, 18, 0.48);
    font-style: oblique;
    background-image: url(https://source.unsplash.com/400x200?nature);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
}


/*
縮圖區塊設定
*/

.thumbnail {
    width: 25%;
    float: left;
}

.thumbnail-img {
    width: calc(100% - 10px);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.thumbnail-img:hover {
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}

.caption-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.caption-body {
    line-height: 30px;
}

.caption-btn {
    text-decoration: none;
}

.caption-btn {
    display: block;
    font-size: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d6546d;
    border-radius: 5px;
    background-color: #8acc76;
    color: #d6546d;
    margin: 0 auto;
}

.caption-btn:link {
    font-size: 20px;
}

.caption-btn:visited {
    color: #8d00cc;
}

.caption-btn:hover {
    color: aqua;
}

.caption-btn:active {
    color: blue;
}

ul {
    position: relative;
    top: 20px;
    line-height: 30px;
}
